@model Node

@{
    Layout = "_Layout";
}
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-dark">Add Nodes</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-outline-info" asp-controller="Tree" asp-action="GetAllNodes">All Nodes</a>
    </div>
    <div class="col-3">
        <a class="btn btn-outline-success" asp-controller="Tree" asp-action="GetParentsNodes">Generate Tree View</a>
    </div>
</div>

<div class="pt-5">
    <form method="post" asp-action="Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-3 form-group">
                <label asp-for="NodeName" class="control-label"></label>
            </div>
            <div class="col-9 form-group">
                <input asp-for="NodeName" class="form-control" />
                <span asp-validation-for="NodeName" class="text-danger"></span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-3 form-group">
                <label asp-for="ParentNodeId" class="control-label"></label>
            </div>
            <div class="col-9 form-group">
                <input asp-for="ParentNodeId" class="form-control" />
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-3  form-group">
                        <label asp-for="IsActive" class="form-check-label"></label>
                    </div>
                    <div class="col-3  form-group">
                        <input asp-for="IsActive" class="form-check-input" type="checkbox" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-3  form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                    </div>
                    <div class="col-3  form-group">
                        <input asp-for="StartDate" class="form-control" type="date" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="form-group">
                <input type="submit" value="Add Node" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>